.inputForm {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.inputForm div:first-of-type {
    min-width: 150px;
    font-weight: bold;
    color: rgba(0, 0, 0, .4);
}

select,
input[type='text'] {
    height: 40px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.15)
}

input[type='text'] {
    width: 300px;
}

select {
    width: 150px;
}

