html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #F1F1F1;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


main {
  position: relative;
  padding: 1em 2em !important;
  background-color: white;
}

.danger {
  color: #d9534f;
    transition: transform 0.3s ease-in;
    animation: warning-animation 0.7s;
}

@keyframes warning-animation {
  from {
    transform: translateX(-3%);
  }
  to {
    transform: translateX(0);
  }
}



.buttonsContainer {
  position: absolute;
  bottom: 1em;
  right: 2em;
  width: 350px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  height: 35px;
}

button {
  box-shadow: 0 10px 20px rgba(184, 184, 255, 0.5);
}

button:hover {
  box-shadow: 0 5px 10px rgba(184, 184, 255, 0.4);
  transform: translateY(1px);
}

.buttonsContainer button {
  width: 50%;
  height: 100%;
  border: unset;
  outline: unset;
  cursor: pointer;
}

.buttonsContainer .cancel {
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttonsContainer .new {
  background-color: #F1F1F1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
  }

  .content {
    grid-column: 2;
    border: 1px solid rgba(0,0,0,.15);
  }
}


.container {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
}

.content {
  min-height: calc(100vh - 98px);
}

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
}

.top-right {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.notification {
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 30px;
  margin-bottom: 15px;
  width: 300px;
  max-height: 200px;
  border-radius: 3px 3px 3px 3px;
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.notification-message {
  margin: 0;
  text-align: left;
  height: 18px;
  margin-left: -1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-image {
  float: left;
  margin-right: 15px;
}

.notification-image img {
  width: 30px;
  height: 30px;
}

.toast {
  height: 75px;
  width: 365px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}

.notification-container button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

