
.sidebar {
    border: 1px solid rgba(0,0,0,.15);
    position: relative;
    padding: 0 !important;
    background-color: white;
}

.title {
    height: 54px;;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #4a9377;
    cursor: pointer;
}

.list {
   list-style: unset;     
   padding: 0;
   margin: 0;
   overflow-x: auto;
    max-height: calc(100% - 102px);
}

.list::-webkit-scrollbar {
    display: none;
}

.listItem {
    height: 54px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: pointer;
    padding: 0 1em;
    opacity: .7;
}

.icons {
    display: none;
}

.listItem:hover .icons {
    display: block;
}

.icon {
    height: 18px;
    width: 18px;
    margin: 5px;
    cursor: pointer;
}


.listItem:hover {
    opacity: 1;
    border-color: black;
}

.addButton {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    width: 100%;
    height: 48px;
    border: unset;
    font-weight: bold;
    cursor: pointer;
    color: #4a9377;
    outline: unset;
}



